.all {
  border: solid black;
  padding: 10px;
}

.formSearch1 {
  border: solid black 1px;
  padding: 5px;
}

#Results {
  border: solid black 1px;
  
}

#StoreDepartments {
  border: solid black 1px;
  padding: 1px;
}
.subDepartments {
  border: 10px solid black;
  padding: 20px;
}
.Department {
  font-weight: bold;
  font-size: 20pt;
}

.subDepartLabel {
  font-weight: bold;
}

.hidden {
  display: none;
}
