body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

/* #navbarDiv {
  border: solid rgb(255, 0, 0);
} */

#navbar {
  background-color: #ffffff; /* White background color */
  width: 100%; /* Width */
  transition: top 0.7s, width 0.7s;
  z-index: 1;
}

#navbar.fixed {
  position: fixed; /* Make it stick/fixed */
  width: 85%; /* Adjust width when fixed */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it stays on top */
  transition: top 0.7s, width 0.7s;
}

/* Optional: Style for different nav content */
.fixed-content {
  background-color: rgba(255, 255, 255, 0.2);
}

.formSpace {
  padding: 3px;
}

.UserInput {
  border-radius: 10px;
  font-size: 20px;
  outline: solid black 2px;
  width: 98%;
  height: 40px;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.formSpace {
  padding: 7px;
  /* border: solid rgb(0, 191, 255); */
}

/* #resultsdivDiv {
  border: solid black;
} */

#bottomFormSpace {
  border: solid black;
  padding: 10px;
}

#buttondivSpace {
  /* border: solid black; */
  padding: 20px;
}

#headerTop {
  height: 100%;
  border: solid black;
}

.buttondivSpace {
  padding: 100px;
  border: solid black 1px;
}

/* #resultsSearchDIV {
  border: solid rgb(255, 0, 0);
} */

#buttonDiv {
  display: flex;
}

#productContents {
  /* border: solid black; */
  width: 100%;
}

button {
  border-radius: 100px;
  outline: solid 2px;
  height: 35px;
  width: 200px;
  font-size: 15px;
  color: black;
}

.UserInput {
  border-radius: 10px;
  font-size: 30px;
  outline: solid black 2px;
  width: 98%;
  height: 70px;
}

.filterContents {
  border-radius: 10px;
  font-size: 20px;
  outline: solid black 1px;
  width: 98%;
  height: 45px;
}

.all {
  padding: 20px;
}

.formSearch1 {
  padding: 2px;
  /* border: solid black; */
}

#Results {
  border: solid black 1px;
  background-color: #e8e8e8;
  font-size: 20px;
  height: 50px;
  width: 98%;
  align-content: center;
  border-radius: 10px;
  color: rgb(165, 165, 165);
}

#StoreDepartments {
  border: solid black 1px;
}

.subDepartments {
  padding: 20px;
}

.Department {
  font-weight: bold;
  font-size: 20pt;
}

.subDepartLabel {
  font-weight: bold;
}

.hidden {
  display: none;
}

select {
  font-size: 16px;
  color: grey;
  border: solid #ccc;
  height: 40px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #cecece;
  border-radius: 10px;
  color: #444;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  height: 120px;
  border: solid black;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
